.plant-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-bg);
    min-height: 100vh;
    margin: 0;
    overflow-y: auto;
}

.header-container {
    background-color: var(--header-bg);
    width: -webkit-fill-available;
    padding: var(--spacing-unit);
    display: flex;
    justify-content: center;
    position: relative;
    height: 100px;
}

.header {
    background-color: var(--header-accent);
    color: var(--text-color);
    padding: var(--spacing-unit) 0;
    width: 100%;
    max-width: var(--max-width);
    height: 50px;
    position: relative;
    top: 50px;

    h1,
    p {
        padding-left: 1rem;
    }
}

.link-container {
    width: 100%;
    display: flex;
    justify-content: left;
    position: absolute;
    max-width: var(--max-width);
}

.back-link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 0.875rem;
    position: absolute;
    top: 25px;
}

.back-link:hover {
    text-decoration: underline;
}

.plant-name {
    margin: 0;
    font-size: 1.5rem;
}

.division {
    color: var(--division-color);
    margin: 0.25rem 0;
    font-size: 0.875rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5rem;
    width: 100%;
    max-width: var(--max-width);
    padding: var(--spacing-unit) 0;
    margin-top: var(--spacing-unit);
}

.card {
    background-color: #ffffff;
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    font-size: 0.875rem;
    min-height: 100%;
}

.sidebar .card {
    padding: var(--spacing-unit) var(--spacing-unit) 0 var(--spacing-unit);

    label {
        margin: 8px 0 8px 0;
        display: flex;
    }
}

.main-content .card {
    padding: 0 0 var(--spacing-unit) 0;
}

.card p,
.card-description {
    margin: 0.25rem 0;
    color: var(--info-color);
    white-space: pre-wrap; // Allow text to wrap while preserving whitespace
    word-break: break-word; // Break long words to prevent overflow
}

.card-header {
    background-color: var(--header-accent);
    color: var(--text-color);
    padding: var(--spacing-unit);
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.card-description {
    padding: var(--spacing-unit);
    color: var(--description-color);
    font-family: "Lozange", sans-serif;
}

.error-message {
    color: var(--error-color);
    text-align: center;
    padding: var(--spacing-unit);
    font-weight: bold;
}

/* Responsive grid */
@media (max-width: 767px) {

    .header {
        width: 80%;
        padding: var(--spacing-unit) 0.8rem;
    }

    .content {
        grid-template-columns: 1fr;
        gap: var(--spacing-unit);
        width: 80%;
    }

    .link-container {
        width: 80%;
    }

    .main-content .card {
        margin-top: var(--spacing-unit);
    }
}

@media (min-width: 768px) and (max-width: 1199px) {

    .header {
        width: 80%;
        padding: var(--spacing-unit) 0.8rem;
    }

    .content {
        width: 80%;
    }

    .link-container {
        width: 80%;
    }
}