/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Lozange', sans-serif;
    margin: 0;
}

:root {
    --primary-bg: #F3F4F6;
    --header-bg: #4F5C6F;
    --header-accent: #323A47;
    --text-color: #ffffff;
    --button-gradient-start: #446FE5;
    --button-gradient-end: #579ADD;
    --button-hover: #0056b3;
    --spacing-unit: 1rem;
    --max-width: 1200px;
    --card-bg: #ffffff;
    --title-color: #3d4d5d;
    --shadow: 0 0 4px rgba(0, 0, 0, 0.04);
    --border-radius: 8px;
    --division-color: #247874;
    --info-color: #babfcb;
    --description-color: #7d828a;
    --error-color: #d32f2f;
}